<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a New Workout</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Workout</h1>
    <form action="/users/<%=user._id%>/workouts" method= "POST">

    <div>
      <label for="workoutType">Workout Type</label>
      <select name="workoutType" id="workoutType" required>
        <option value="">Select a workout Type</option>
        <option value="Running">Running</option>
        <option value="Weightlifting">Weightlifting</option>
        <option value="Cycling">Cycling</option>
      </select>
    </div>

    <div>
      <label for="workoutDescription">Description</label>
      <textarea
        name="workoutDescription"
        id="workoutDescription"
        required
      ></textarea>
    </div>

    <div>
        <label for="workoutDuration">Duration (minutes)</label>
        <select name="workoutDuration" id="workoutDuration" required>
          <option value="">Select duration</option>
          <option value="5">5 minutes</option>
          <option value="10">10 minutes</option>
          <option value="15">15 minutes</option>
          <option value="20">20 minutes</option>
          <option value="25">25 minutes</option>
          <option value="30">30 minutes</option>
          <option value="35">35 minutes</option>
          <option value="40">40 minutes</option>
          <option value="45">45 minutes</option>
          <option value="50">50 minutes</option>
          <option value="55">55 minutes</option>
          <option value="60">60 minutes</option>
        </select>
      </div>

    <div>
      <label for="postingLink">Link to workout video:</label>
      <input type="text" name="postingLink" id="postingLink" required />
    </div>

    <div>
      <label for="workoutDate">Workout Date</label>
      <input type="datetime-local" id="workoutDate" name="workoutDate" />
    </div>

    <button type="submit">Add Workout</button>
    </form>
  </body>
</html>