<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Health Booster App</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body class="home-page">
    <%- include('./partials/_navbar.ejs') %> 
    <main class="home-container">
        <section class="text-section">
            <h1>Welcome to Health Booster</h1>
            <p>Your ultimate workout monitor app!</p>
        </section>
        <section class="image-section">
            <img src="https://www.pngkey.com/png/full/256-2561718_want-to-learn-how-to-2x-your-muscle.png" alt="Health Booster Logo">
        </section>
    </main>
</body>
</html>